*.Rproj
*.RData
data/
pipeline/work/
pipeline/results
pipeline/.nextflow.log*
pipeline/.nextflow/
pipeline/nextflow.config2
pipeline/images
pipeline/comparisonGtruth*
pipeline/sc*
pipeline/runtimesTest.tsv
pipeline/CopyOfrunOmnideconvBenchmark.nf
slurm-192928.out
submitToSlurm.sh
submitToSlurmMaynard.sh
