.nextflow*
docker/.nextflow/
docker/.nextflow.log*
docker/work/
pipeline/.nextflow/
pipeline/work
pipeline/.nextlow.log*
pipeline/*.Rproj
pipeline/nextflow_*
*.Rproj
.Rproj.user
.Rhistory
reports_traces/
work/
visualization/plots
.RData
data/results/*
revision/scdownstream/null/
docker/omnideconv_benchmark*
revision/
docker_rectangle/
revision2/
visualization/*/*.html