tower.enabled = false

params {
    //base_adata = "/nfs/data/omnideconv_benchmarking_clean/scdownstream_results/finalized/merged.h5ad"
    //base_embeddings = "scanvi"
    //base_label_col = "grouped_label"
    input = 'samplesheet.csv'
    outdir = '/nfs/data/omnideconv_benchmarking_clean/scdownstream_results'
    skip_liana = true
    integration_methods = "scvi,scanvi"
    clustering_resolutions = "0.5,1,2,4,5"
    memory_scale = 2
    prep_cellxgene = true
    force_obs_cols = 'sample,batch,dataset_id_custom,cell_type,cell_type_broad,cell_type_hao'
    integration_hvgs = 2000 

    max_cpus = 30
    max_memory = '600.GB'   
}

process {
    maxRetries = 5
    cache = 'lenient'
    // executor = 'local'

    withName: '.*:SCANPY_(HVGS|HARMONY|LEIDEN|NEIGHBORS|SCRUBLET|UMAP)' {
        queue = 'shared-cpu'
        ext.use_gpu = false
        clusterOptions = ''
    }

    withLabel: process_gpu {
        queue = 'shared-cpu'
        clusterOptions = ''
    }
}
