params {

  /*** input directories and files ***/
  
  data_dir_bulk = "/nfs/data/omnideconv_benchmarking_clean/data/PBMC/"                              // directory to bulk RNA-seq datasets
  data_dir_sc = "/nfs/data/omnideconv_benchmarking_clean/data/singleCell/"                          // directory to scRNA-seq datasets

  /*** output directories and files ***/
  
  results_dir_general = "/nfs/data/omnideconv_benchmarking_clean/benchmark_results/test"   // here all final results are stores
  preProcess_dir = "/nfs/data/omnideconv_benchmarking_clean/preprocess"              // directory where intermediate files for preprocessing or subsampling are stored
  workDir = "/nfs/home/students/adietrich/omnideconv/benchmark/work"                          // working directory for nextflow

  
  /*** parameters for benchmarking ***/
  
  single_cell_list = ["hao-sampled-3"]                                                  // list of scRNA-seq dataset names that are used (no underscores in the names allowed!)
  single_cell_norm = ["counts"]                                                         // list of normalization methods for scRNA-seq datasets
  //bulk_list = ["finotello","finotello-simulation","hoek","hoek-simulation"]
  bulk_list = ["finotello"]                                                  // list of bulk RNA-seq dataset names that are used
  bulk_norm = ["tpm"]                                                                // list of normalization methods for bulk RNA-seq datasets
  
  method_list = ["music"]                                                           // list of deconvolution methods
  
  /*** parameters for subsampling ***/
  ct_fractions = [5,25,50,100,500]                                                    // cell-type fractions for subsampling    
  replicates = 1                                                                                // number of replicates for subsampling
  
  /*** parameters for simulations ***/
  simulation_sc_dataset = "lambrechts"                                                       // name of sc dataset that will be used as basis for simulations
  simulation_sc_norm = ["counts","cpm"]                                                                 // normalization of sc dataset that will be used as basis for simulations
  simulation_n_cells = [10]                                                             // number of cells in a pseudo-bulk sample
  simulation_scenario = ['random']                                                              // simulation scenario
  simulation_n_samples = [10]                                                                   // number of pseudo-bulk samples to be generated per simulation run
  simulation_pseudobulk_norm = ["tpm","counts"]                                                          // what type of pseudo-bulk normalization do you want to use
  simulation_cell_types = [[]]                                                                  // which cells to consider for the simulation/signature building. Can be different from those used for the spillover
  
  /*** parameters for spillover ***/
  results_dir_spillover = "/vol/omnideconv_results/results_spillover"    
  spillover_samples_per_cell = [10]                                                             // in the spillover analysis samples contain only one cell types. How many samples we should generate this way
  spillover_celltypes = ["B cells,Macrophages,Monocytes,NK cells,Stromal cells,T cells CD8,T cells CD4 conv,Tregs,mDC,pDC"]    // if we want to select only certain cell types for the spillover analysis
  
  /*** parameters for sensitivity/unknown cellular content analysis ***/
  results_dir_unknown_content = "/vol/omnideconv_results/results_unknown_content"    
  known_cell_types = [["B cells,Macrophages,Stromal cells,T cells CD4 conv"]]                  // subset of cell types that we will use to build the isgnature matrix
  unknown_cell_type = ["Tumor cells"]                                                           // unknown cell type to use
  fractions_unknown_cells = [[0.05, 0.1, 0.2, 0.3, 0.5, 0.7, 0.8]]                                // fractions of the unknown cell types to use
  
  /*** parameters for cell resolution analysis ***/
  results_dir_resolution = "/vol/omnideconv_results/results_resolution"
  cell_types_finer_res = [["cDC1,pDC,B cell,T cell CD8 activated,cDC2,T cell CD8 naive"]]                  // which cell types will we inspect at various resolutions?
  
  /*** other parameters ***/
  
  publishDirMode = "copy"
  ncores = '10'

  species_sc = 'hs'                                                                             // type of species (mm or hs); currently only used for bayesprism
  
}


profiles {
     standard {
        process.executor = 'local'
        process.max_retries = 50
        process.cpus = 10
        process.memory = '50 GB'
        docker.enabled = true
        process.container = 'omnideconv_benchmark:latest'
        docker.temp = "auto"
     }
     cluster {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '100 GB'
        docker.enabled = true
        process.container = 'omnideconv_benchmark:latest'
        containerOptions = "--user adietrich"
        docker.temp = "auto"
     }
     cluster_tum {
        process.executor = 'slurm'
        process.cpus = 2
        process.container = 'omnideconv_benchmark:latest'
        process.memory = '250 GB'
        docker.enabled = false
        process.clusterOptions = '--partition=exbio-cpu'
     }
      cluster_tum_norm {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '200 GB'
     }
}

docker {  
  runOptions = '-v /var/run/docker.sock:/var/run/docker.sock'
}

dag {
  overwrite = true
}

report {
  overwrite = true
}

trace {
  enabled = true
  file = '/nfs/data/omnideconv_benchmarking_clean/trace_cibersortx_subsampling.txt'
  fields = 'task_id,process,name,status,module,container,cpus,time,disk,memory,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,script'
  sep = ','
  overwrite = true
}


// start on cluster like this:
// nextflow -C /nfs/home/students/adietrich/omnideconv/benchmark/pipeline/nextflow_norm.config run /nfs/home/students/adietrich/omnideconv/benchmark/pipeline/runOmnideconvBenchmarkNORM.nf -profile cluster_tum -with-trace -entry simulation
