params {
  publishDirMode = "copy"
  results_dir = "results"
  single_cell_list = ["maynard", "lambrechts"]
  bulk_list = ["finotello", "hoek", "vanderbiltLungcancer", "vanderbiltMelanoma"]
  method_list2 = []
  method_list = ["autogenes", "bisque", "cibersortx", "dwls", "momf", "music", "scaden"]
  data_dir_bulk = "/nfs/data/omnideconv_benchmarking/data/PBMC/"
  data_dir_sc = "/nfs/data/omnideconv_benchmarking/data/singleCell/"
  mapping_sheet = "/nfs/proj/omnideconv_benchmarking/benchmark/pipeline/cell_type_mapping.xlsx"
  simulation_scenarios = ["spikein", "truefractions", "spillover"]
}
profiles {
     standard {
         process.executor = 'local'
         process.max_retries = 50
     }
     cluster {
         singularity.enabled = true
         singularity.cacheDir = '/nfs/scratch/singularity_cache'
         process.executor = 'slurm'
         process.cpu = '2'
         process.memory = '10 GB'
     }

}