params {
  publishDirMode = "copy"
  results_dir = "results"
  single_cell_list = ["maynard", "lambrechts"]
  rnaseq_list = ["hoek", "finotello"]
  method_list = ["bisque"]
  data_dir_rnaseq = "/nfs/data/omnideconv_benchmarking/data/PBMC/"
  data_dir_sc = "/nfs/data/omnideconv_benchmarking/data/singleCell/"
  mapping_sheet = "/nfs/data/omnideconv_benchmarking/cell_type_mapping.xlsx"
}
