params {
  workDir = "/vol/omnideconv/work"
  publishDirMode = "copy"
  results_dir_general = "/vol/omnideconv/results_run"
  results_dir = "/vol/omnideconv/results_run"
  single_cell_list = ["hao-sampled-1","hao-sampled-2","hao-sampled-3","hao-sampled-4"]
  single_cell_norm = ["counts","cpm"]
  bulk_list = ["finotello-simulation","hoek-simulation"]
  bulk_norm = ["counts","tpm"]
  method_list2 = []
  //method_list = ["cibersortx", "bayesprism","music"] --> finished methods
  //method_list = ["scaden","dwls"] --> methods with issues
  method_list = ["bayesprism"]
  //method_list = ["momf","music","scdc","scaden","bisque","cibersortx","bayesprism","autogenes","dwls"] --> all methods
  extra_parameters = []
  data_dir_bulk = "/vol/omnideconv/omnideconv_data/PBMC/"
  data_dir_sc = "/vol/omnideconv/omnideconv_data/singleCell/"
  mapping_sheet = "/vol/omnideconv/benchmark/pipeline/cell_type_mapping.xlsx"
  sc_files = "/vol/omnideconv/benchmark/pipeline/sc_files_table.csv"
  simulation_scenarios = ["spikein", "truefractions", "spillover"]
}


profiles {
     standard {
        process.executor = 'local'
        process.max_retries = 50
     }
     cluster {
        process.executor = 'slurm'
        process.cpu = '12'
        process.memory = '100 GB'
        docker.enabled = true
        process.container = 'omnideconv_benchmark:latest'
        containerOptions = "--user ubuntu"
        docker.temp = "auto"
        docker.cacheDir = "/vol/spool/tmp"
     }
     cluster_dwls {
        process.executor = 'slurm'
        process.cpu = '24'
        process.memory = '200 GB'
        docker.enabled = true
        process.container = 'omnideconv_benchmark:latest'
        containerOptions = "--user ubuntu"
        docker.temp = "auto"
        docker.cacheDir = "/vol/spool/tmp"
     }
}

docker {
  user = 'ubuntu:ubuntu'
  runOptions = '-v /var/run/docker.sock:/var/run/docker.sock --cpus 14'
}

//process {
//  withLabel: 'deconvolution_related' {
//    process.memory = '200 GB'
//  }
//}


// start on cluster like this:
// nextflow -C ~/benchmark/omnideconv/nextflow_denbi.config run ~/benchmark/pipeline/runOmnideconvBenchmark.nf -profile cluster -w /vol/spool/work
// nextflow -C /vol/omnideconv/benchmark/pipeline/nextflow_denbi.config run /vol/omnideconv/benchmark/pipeline/runOmnideconvBenchmark.nf -profile cluster -w /vol/omnideconv/work/